<link rel="stylesheet" href="/styles/rating.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="/js/deleteReview.js"></script>

<div class="container main-content">
    <h1><%= course.courseCode %></h1>
    <p><%= course.description %></p>

    <!-- Display user reviews in rows and columns -->
    <div class="row">
        <h3>Your Reviews</h3>
        <% let userReviews = reviews.filter(review => review.userId._id.toString() === user._id.toString()); %>
        <% userReviews.forEach((review, index) => { %>
            <%- include('components/review-card', { review: review, courseCode: course.courseCode, editable: true }) %>
            <% if ((index + 1) % 3 === 0) { %>
                </div><div class="row">
            <% } %>
        <% }); %>
    </div>

    <!-- Display other users' reviews -->
    <div class="row">
        <h3>Other Reviews for <%= course.courseCode %></h3>
        <% let otherReviews = reviews.filter(review => review.userId._id.toString() !== user._id.toString()); %>
        <% otherReviews.forEach((review, index) => { %>
            <%- include('components/review-card', { review: review, courseCode: course.courseCode, editable: false }) %>
            <% if ((index + 1) % 3 === 0) { %>
                </div><div class="row">
            <% } %>
        <% }); %>
    </div>

    <!-- If user is authenticated, show form to post review -->
    <% if(user) { %>
        <form action="/courses/<%= course.courseCode %>/review" method="POST">
            <!-- Add a form where the user can give a rating number of the course -->
            <label for="rating">Course Rating:</label>
            <input type="number" name="rating" min="1" max="5" placeholder="(1-5)" required>
            
            <!-- Add an input field for the review content -->
            <textarea name="reviewContent" placeholder="Write your review..."></textarea>
            <button type="submit" class="post-button">Post Review</button>
        </form>
    <% } else { %>
        <p>You must be logged in to post a review.</p>
    <% } %>
</div>
