<link rel="stylesheet" href="/styles/course.css">
<script src="/js/deleteReview.js"></script>

<div class="container main-content">

    <div class="course-info mt-3 p-5">
        <div class="course-title d-flex justify-content-between align-items-start">
            <span>
                <h2><%= course.title %></h2>
                <p><strong>Course Code:</strong> <%= course.courseCode%></p>
            </span>
            <!-- Display SavedCourse button -->
            <% if(user) { %>
                <button title="Bookmark Course" class="bi-bookmark toggleSavedCourses" data-target="toggleSavedCourses"></button>
            <% }%>
        </div>
        <p><%= course.description %></p>
        
        <div class="stat-label d-flex">
            <p><strong>Total:&nbsp;&nbsp;</strong><%= reviews.length %> reviews</p>
            <p>|</p>
            <%let sum = 0;%>
            <%for (const review of reviews) {%>
                <%sum += review.rating || 0; %>
            <%}%>
            <% const avg = reviews.length > 0 ? sum / reviews.length : 0;%>
            <p><strong>Average Rating:&nbsp;&nbsp;</strong><span class="stars"> <%- include('./components/rating.ejs', { rating: avg.toFixed(1) }) %></span>(<%=avg.toFixed(1) %>)</p>
        </div>
    </div>
    <br>
    <div class="review-section">
        <div class="review-bar d-flex justify-content-between align-items-center">
            <h2>Reviews</h2>
            <div class="show-functionalities d-flex">
                <div class="filter-by px-2">
                    Filter By:
                    <select id="filterStars">
                        <option value="0">All Stars</option>
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>
                </div>
                <div class="sort-by px-2">
                    Sort By:
                    <select id="sortReviews">
                        <option value="latest">Latest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                </div>
            </div>
        </div>
        <hr><br>
        <div class="reviews d-flex justify-content-between">
            <div class="rating-stat">
                <div class="rating-progress">
                    <% const ratingMap = {
                        1: 0, 2: 0, 3: 0, 4: 0, 5: 0,
                    }; %>
                    
                    <% reviews.forEach((review) => {
                        let rating = review.rating;
                        if (rating >= 1 && rating <= 5) {
                            ratingMap[rating] += 1;
                        }
                    }); %>
                    
                    <% const percentageMap = {
                        1: 0, 2: 0, 3: 0, 4: 0, 5: 0,
                    }; %>
                    
                    <% for (let i = 5; i >= 1; i--) {
                        percentageMap[i] = ((ratingMap[i] / reviews.length)*100).toFixed(0);
                    %>
                    <div class="progress-wrapper d-flex align-items-center">
                        <p><%=i%>★ </p><span>&nbsp;&nbsp;</span>
                        <span class="progress-width">
                            <div class="progress" role="progressbar" aria-label="rating" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: <%= percentageMap[i] %>%"></div> <!-- this is not an error. the editor doesn't like if for some reason -->
                            </div>
                        </span>
                        <p class="rating-number">&nbsp;<%=ratingMap[i]%></p>
                    </div>
                    <% } %>
                </div>
                <div class="user-review">
                    <% if (user) { %>
                        <% let userReviews = reviews.filter(review => review.userId && review.userId._id.toString() === user._id.toString()); %>
                        <% if (userReviews.length == 0) { %>
                            <div class="review-form">
                                <h3 class="header-label">Leave a review:</h3>
                                <p><strong>Note:</strong> You can only write one review per course.</p>
                                <form id="reviewForm" action="/courses/<%= course.courseCode %>/review" method="POST">
                                    <!-- Course Rating -->
                                    <div class="form-group d-flex align-items-end">
                                        <label for="rating">Rate:</label>
                                        <div class="star-rating">
                                            <span class="star" data-rating="1">☆</span>
                                            <span class="star" data-rating="2">☆</span>
                                            <span class="star" data-rating="3">☆</span>
                                            <span class="star" data-rating="4">☆</span>
                                            <span class="star" data-rating="5">☆</span>
                                        </div>
                                        <input type="hidden" class="form-control" name="rating" id="selectedRating" required>
                                        <!-- <input type="number" class="form-control" name="rating" min="1" max="5" placeholder="(1-5)" required> -->
                                    </div>
                                    
                                    <!-- Review Content -->
                                    <div class="form-group">
                                        <textarea class="form-control" name="reviewContent" rows="4" placeholder="Write your review..." required style="max-height: 400px;"></textarea>
                                    </div>

                                    <!-- Submit Button -->
                                    <button type="submit" class="form-group btn btn-primary" onclick="submitReview()">Post Review</button>
                                </form>
                            </div>

                        <!-- User's reivew -->
                        <% } else { %>
                            <h4>Your Review:</h4>
                            <% userReviews.forEach((review, index) => { %>
                                <%- include('components/review-card', { user: user, review: review, courseCode: course.courseCode, editable: true }) %>
                            <% }); %>
                        <% } %>
                    <% } else { %>
                        <p>
                            Sign in to leave a review.
                        </p>
                    <% } %>
                </div>
            </div>    

            <div class="review-cards">
                <!-- Show other people's reviews -->
                <% const isUserLoggedIn = !!user; %>
                <% const targetReviews = isUserLoggedIn ? reviews.filter(review => review.userId && review.userId._id.toString() !== user._id.toString()) : reviews; %>
                <% targetReviews.forEach((review, index) => { %>
                    <%- include('components/review-card', { user: review.userId, review: review, courseCode: course.courseCode, editable: false }) %>
                <% }); %>
                
                <% if (targetReviews.length === 0) { %>
                    <p>Leave the first review for this course!</p>
                <% } %>
                
            </div>
        </div>
        
    </div>

</div>

<script>
    const starRating = document.querySelector('.star-rating');
    const selectedRating = document.getElementById('selectedRating');

    function submitReview() {
        document.getElementById('reviewForm').submit();
    }

    function redirectToSignIn() {
        console.log('redirecting to sign in at /auth/signin?origin=/courses/<%= course.courseCode %>')
        window.location.href = `/auth/signin?origin=/courses/<%= course.courseCode %>`;
    }


    starRating.addEventListener('click', (e) => {
        if (e.target.classList.contains('star')) {
            const rating = e.target.getAttribute('data-rating');
            selectedRating.value = rating;
            // Add visual feedback (e.g., highlight the selected star)
            starRating.querySelectorAll('.star').forEach((star, index) => {
                if (index < rating) {
                    star.textContent = '★'; // Show a filled star
                } else {
                    star.textContent = '☆'; // Show an empty star
                }
            });
        }
    });

</script>


<% if(user) { %>
    <script>
        const toggleSavedCourseButtons = document.querySelectorAll('.toggleSavedCourses');

        toggleSavedCourseButtons.forEach(async button => {
            const response = await fetch(`/courses/<%= course.courseCode %>/isSavedCourse`);
            const data = await response.json();

            if (data.isSavedCourse) {
                button.classList.remove('bi-bookmark');  // removes "unsaved"
                button.classList.add('bi-bookmark-fill');  // adds "saved" 
            } else {
                button.classList.remove('bi-bookmark-fill');  // removes "unsaved"
                button.classList.add('bi-bookmark');  // add "saved"
            }

            button.addEventListener('click', async () => {
                const toggleResponse = await fetch('/courses/<%= course.courseCode %>/toggleSavedCourses', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (!toggleResponse.ok) {
                    const errorData = await toggleResponse.text();
                    console.error("Error toggling SavedCourse serv:", errorData);
                }
                button.classList.toggle('bi-bookmark-fill'); // adds "saved"
                button.classList.toggle('bi-bookmark'); // removes "unsaved"
            });
        });
    </script>
<% } %>