<script src="/js/deleteReview.js"></script>
<div class="container main-content">
    <h1><%= course.courseCode %></h1>
    <p><%= course.description %></p>

    <!-- Display reviews in rows and columns -->
    <div class="row">
        <h3>Users' Reviews</h3>
        <% reviews.forEach((review, index) => { %>
            <div class="col-md-4">
                <div class="card mb-3" style="height: 100px;">
                    <div class="card-body" style="max-height: 100px; overflow-y: auto;">
                        <p style="margin-bottom: 0;"><p><%= review.content %></p>
                        <% if (user && review.userId._id.toString() === user._id.toString()) { %>
                            - this is your review
                            <a href="/courses/<%= course.courseCode %>/reviews/<%= review._id %>/edit">Edit</a>
                            <a href="#" data-id="<%= review._id %>" data-course="<%= course.courseCode %>"
                                class="delete-review-btn">Delete</a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% if ((index + 1) % 3 === 0) { %>
                </div><div class="row">
            <% } %>
        <% }); %>
    </div>

<!-- If user is authenticated, show form to post review -->
<% if(user) { %>
    <form action="/courses/<%= course.courseCode %>/review" method="POST">
        <textarea name="reviewContent" placeholder="Write your review..."></textarea>
        <button type="submit" class="post-button">Post Review</button>
    </form>
<% } else { %>
    <p>You must be logged in to post a review.</p>
<% } %>
</div>