<script src="/js/deleteReview.js"></script>
<div class="container main-content">
    <h1><%= course.courseCode %></h1>
    <p><%= course.description %></p>

    <!-- Display reviews in rows and columns -->
    <div class="row">
        <h3>Users' Reviews</h3>
        <% reviews.forEach((review, index) => { %>
            <div class="col-md-4">
                <div class="card mb-3" style="height: 100px;">
                    <div class="card-body" style="max-height: 100px; overflow-y: auto;">
                        <p style="margin-bottom: 0;"><p><%= review.content %></p>
                        <% if (user && review.userId._id.toString() === user._id.toString()) { %>
                            - this is your review
                            <a href="/courses/<%= course.courseCode %>/reviews/<%= review._id %>/edit">Edit</a>
                            <a href="#" data-id="<%= review._id %>" data-course="<%= course.courseCode %>"
                                class="delete-review-btn">Delete</a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% if ((index + 1) % 3 === 0) { %>
                </div><div class="row">
            <% } %>
        <% }); %>
        <% if(user) { %>
            <form id="reviewForm" action="/courses/<%= course.courseCode %>/review" method="POST">
                <textarea name="reviewContent" placeholder="Write your review..."></textarea>
                <button type="button" class="post-button" onclick="submitReview()">Post Review</button>
            </form>
        <% } else { %>
            <!-- Keep the form but disable the textarea, and handle button click with JS -->
            <form id="reviewForm" action="/signin" method="GET">
                <textarea name="reviewContent" placeholder="Write your review..." disabled></textarea>
                <button type="button" class="post-button" onclick="redirectToSignIn()">Post Review</button>
            </form>
        <% } %>
        <script>
            function submitReview() {
                document.getElementById('reviewForm').submit();
            }
        
            function redirectToSignIn() {
                window.location.href = `/auth/signin?origin=/courses/<%= course.courseCode %>`;
            }
        </script>
</div>