<link rel="stylesheet" href="/styles/course.css">
<script src="/js/deleteReview.js"></script>

<div class="container main-content">

    <div class="course-info mt-3 p-5">
        <div class="course-title d-flex justify-content-between align-items-start">
            <span>
                <h2><%= course.title %></h2>
                <p><strong>Course Code:</strong> <%= course.courseCode%></p>
            </span>
            <!-- Display SavedCourse button -->
            <% if(user) { %>
                <button title="Bookmark Course" class="bi-bookmark toggleSavedCourses" data-target="toggleSavedCourses"></button>
            <% }%>
        </div>
        <p><%= course.description %></p>
        
        <div class="stat-label d-flex">
            <p><strong>Total:&nbsp;&nbsp;</strong><%= reviews.length %> reviews</p>
            <p>|</p>
            <%let sum = 0;%>
            <%for (const review of reviews) {%>
                <%sum += review.rating || 0; %>
            <%}%>
            <% const avg = reviews.length > 0 ? sum / reviews.length : 0;%>
            <p><strong>Average Rating:&nbsp;&nbsp;</strong><span class="stars"> <%- include('./components/rating.ejs', { rating: avg.toFixed(1) }) %></span>(<%=avg.toFixed(1) %>)</p>
        </div>
    </div>
    <br>
    <div class="review-section">
        <div class="review-bar d-flex justify-content-between align-items-center">
            <h2>Reviews</h2>
            <div class="show-functionalities d-flex">
                <div class="filter-by">Filter By:</div>
                <span class="v-line" style="height: 30px;"></span>
                <div class="sort-by">Sort By:</div>
            </div>
        </div>
        <hr><br>
        <div class="reviews d-flex">
            <div class="rating-stat">
                <div class="rating-progress">
                    <% const ratingMap = {
                        1: 0, 2: 0, 3: 0, 4: 0, 5: 0,
                    }; %>
                    
                    <% reviews.forEach((review) => {
                        let rating = review.rating;
                        if (rating >= 1 && rating <= 5) {
                            ratingMap[rating] += 1;
                        }
                    }); %>
                    
                    <% const percentageMap = {
                        1: 0, 2: 0, 3: 0, 4: 0, 5: 0,
                    }; %>
                    
                    <% for (let i = 5; i >= 1; i--) {
                        percentageMap[i] = ((ratingMap[i] / reviews.length)*100).toFixed(0);
                    %>
                    <div class="progress-wrapper d-flex align-items-center">
                        <p><%=i%>★ </p><span>&nbsp;&nbsp;</span>
                        <span class="progress-width">
                            <div class="progress" role="progressbar" aria-label="rating" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: <%= percentageMap[i] %>%"></div>
                            </div>
                        </span>
                        <p class="rating-number">&nbsp;<%=ratingMap[i]%></p>
                    </div>
                    <% } %>
                </div>
                <div class="user-review">
                    <% if (user) { %>
                        <% let userReviews = reviews.filter(review => review.userId && review.userId._id.toString() === user._id.toString()); %>
                        <% if (userReviews.length == 0) { %>
                            <div class="review-form">
                                <h3 class="header-label">Post Your Review</h3>
                                <form id="reviewForm" action="/courses/<%= course.courseCode %>/review" method="POST">
                                    <!-- Course Rating -->
                                    <div class="form-group">
                                        <label for="rating">Course Rating:</label>
                                        <input type="number" class="form-control" name="rating" min="1" max="5" placeholder="(1-5)" required>
                                    </div>
                                    
                                    <!-- Review Content -->
                                    <div class="form-group">
                                        <textarea class="form-control" name="reviewContent" rows="4" placeholder="Write your review..." required style="max-height: 400px;"></textarea>
                                    </div>

                                    <!-- Submit Button -->
                                    <button type="submit" class="btn btn-primary" onclick="submitReview()">Post Review</button>
                                </form>
                            </div>
                        <% } else { %>
                            <% userReviews.forEach((review, index) => { %>
                                <%- include('components/review-card', { review: review, courseCode: course.courseCode, editable: true }) %>
                                <% if ((index + 1) % 3 === 0) { %>
                                    </div><div class="row">
                                <% } %>
                            <% }); %>
                        <% } %>
                    <% } else { %>
                        <p>
                            Sign in to leave a review.
                        </p>
                    <% } %>
                </div>
            </div>    

            <div class="review-cards">
                <div class="row">
                    <h3 class="header-label">Other Reviews for <%= course.courseCode %></h3>
                    <% let otherReviews = reviews.filter(review => review.userId && review.userId._id.toString() !== user._id.toString()); %>
                    <% otherReviews.forEach((review, index) => { %>
                        <%- include('components/review-card', { review: review, courseCode: course.courseCode, editable: false }) %>
                        <% if ((index + 1) % 3 === 0) { %>
                            </div><div class="row">
                        <% } %>
                    <% }); %>
                </div>
            </div>
        </div>
        
    </div>

</div>

<script>
    function submitReview() {
        document.getElementById('reviewForm').submit();
    }

    function redirectToSignIn() {
        console.log('redirecting to sign in at /auth/signin?origin=/courses/<%= course.courseCode %>')
        window.location.href = `/auth/signin?origin=/courses/<%= course.courseCode %>`;
    }
</script>



<% if(user) { %>
    <script>
        const toggleSavedCourseButtons = document.querySelectorAll('.toggleSavedCourses');

        toggleSavedCourseButtons.forEach(async button => {
            const response = await fetch(`/courses/<%= course.courseCode %>/isSavedCourse`);
            const data = await response.json();

            if (data.isSavedCourse) {
                button.classList.remove('bi-bookmark');  // removes "unsaved"
                button.classList.add('bi-bookmark-fill');  // adds "saved" 
            } else {
                button.classList.remove('bi-bookmark-fill');  // removes "unsaved"
                button.classList.add('bi-bookmark');  // add "saved"
            }

            button.addEventListener('click', async () => {
                const toggleResponse = await fetch('/courses/<%= course.courseCode %>/toggleSavedCourses', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (!toggleResponse.ok) {
                    const errorData = await toggleResponse.text();
                    console.error("Error toggling SavedCourse serv:", errorData);
                }
                button.classList.toggle('bi-bookmark-fill'); // adds "saved"
                button.classList.toggle('bi-bookmark'); // removes "unsaved"
            });
        });
    </script>
<% } %>