<link rel="stylesheet" href="/styles/profile.css">

<div class="profile-wrapper mx-auto">
    <div class="my-5 d-flex">
        <span class="pfp d-flex align-items-center justify-content-center">
            <% if (!userInfo.username) { %>
                U
            <% } else { %>
                <%= userInfo.username.charAt(0) %>
            <% } %>
        </span>
        <span class="user-info">
            <h1>
                <% if (!userInfo.username) { %>
                    Unamed User
                <% } else { %>
                    <%= userInfo.username %>
                <% } %>
            </h1>
            <p class="sub-heading"><%= userInfo.email %></p>
        </span>
    </div>
    <div class="stats d-flex justify-content-between mx-auto mb-5">
        <div class="stat-box d-flex align-items-center justify-content-center flex-column">
            <h1><%=savedCourses.length%></h1>
            <br>
            <p>Total Courses<br>Saved</p>
        </div>
        <div class="stat-box d-flex align-items-center justify-content-center flex-column">
            <h1>0</h1>
            <br>
            <p>Total Reviews<br>Submitted</p>
        </div>
        <div class="stat-box d-flex align-items-center  justify-content-center flex-column">
            <h1>0</h1>
            <br>
            <p>Average Review<br>Rating</p>
        </div>
    </div>
    <hr>
    <h2>Course Collection:</h2>
    
    <div class="course-list d-flex justify-content-start">
        <!--print courses-->
        <% if (savedCourses.length == 0) { %>
                <p>You have not saved any courses.</p>
        <%} else { for (const course of savedCourses) { %>
            <div class="p-3"><a href="/courses/<%= course.courseCode %>" class="course-icon-full  d-flex align-items-center justify-content-center"><%= course.courseCode %></a></div>
        <% }} %>
    </div>
    
    <h2>Review Collection:</h2>
    <div class="review-list"></div>
        <% if (reviews.length == 0) { %>
            <p>You have not written any reviews.</p>
        <%} else { for (const review of reviews) { %>
            <div class="review-wrapper">
                <div class="review-course d-flex justify-content-between">
                    <a href="/courses/<%= reviews.courseCode %>">Course: <%= review.courseCode %></a>
                    <p><%- include('./components/rating.ejs', { rating: review.rating }) %></p>
                </div>
                <p class="review-date">Posted: <%= new Date(review.datePosted).toLocaleString() %></p>
                <p><%= review.content%></p>
            </div>
        <% }} %>
    </div>
</div>
